@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var data = @Html.Raw(ViewBag.Json);
    // Now you can use the 'data' variable in your JavaScript code
}
<p>@ViewBag.Json</p>